/.env
/.vscode
/docker/config/*
/docker/data/*
/docker/logs/*

vendor

.DS_Store
composer.lock

cms
env.php
wp-content/advanced-cache.php
# wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/index.php
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

wp-content/themes/twentynineteen
wp-content/themes/twentytwenty
wp-content/themes/twentytwentyone
wp-content/themes/twentytwentytwo

wp-content/plugins/**/*
