
.i-star {
  width: 16px;
  height: 16px;
  background-image: url("../img/icons/star.svg");
}
.i-star-white {
  width: 16px;
  height: 16px;
  background-image: url("../img/icons/star-white.svg");
}
.i-search {
  width: 21px;
  height: 22px;
  background-image: url("../img/icons/search.svg");
}


.i-hot {
  width: 13px;
  height: 16px;
  background-image: url("../img/icons/hot.svg");
}

.i-telegram {
  width: 32px;
  height: 32px;
  background-image: url("../img/icons/telegram.svg");
}


.i-18plus {
  width: 48px;
  height: 48px;
  background-image: url("../img/icons/18plus.svg");
}

.i-breadcrubm-arrow {
  width: 4px;
  height: 8px;
  background-image: url("../img/icons/breadcrubm-arrow.svg");
}


.i-place {
  width: 18px;
  height: 28px;
  background-image: url("../img/icons/place.svg");
}

.i-phone {
  width: 28px;
  height: 28px;
  background-image: url("../img/icons/phone.svg");
}

.i-mail {
  width: 32px;
  height: 24px;
  background-image: url("../img/icons/mail.svg");
}
