body.admin-bar .breadcrumbs {
  top: 116px;
}

.breadcrumbs {
  background: #0A1446;
  height: 40px;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  transition: all 0.15s ease-out;
  z-index: 101;
  top: 84px;
  box-shadow: 0px 3px 6px #00000029;

  & > .wrap {
    display: flex;
    align-items: center;
  }

  &__main {
    span > {
      span {
        display: flex;
        align-items: center;

        & > * {
          margin: 0px 2px;
        }

        a {
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 15px;
          letter-spacing: 0em;
          text-align: left;
          color: #fff;
          text-decoration: none;
          transition: all 0.3s ease;

          &:hover {
            opacity: 0.7;
            transition: all 0.3s ease;
          }
        }
        span {
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 15px;
          letter-spacing: 0em;
          text-align: left;
          color: #fff;
        }
      }
    }
  }

  &.scrolled {
    // opacity: all 0.3s ease;
    height: 4px;

    & > .wrap {
      display: none;
    }
  }
}
